In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import networkx as nx

### Checking Edges and Labels

In [17]:
# paper_data = pd.read_csv('pubmed-diabetes/Pubmed-Diabetes.NODE.paper.tab', sep='\t', dtype=str, on_bad_lines='skip')

cites_data = pd.read_csv('pubmed-diabetes/Pubmed-Diabetes.DIRECTED.cites.tab', sep='\t', header=None, skiprows=2)
cites_data.columns = ['Identifier', 'Citing Paper', 'Separator', 'Cited Paper']
cites_data.drop(columns=['Separator'], inplace=True)
cites_data.head()

   Identifier    Citing Paper     Cited Paper
0       33824  paper:19127292  paper:17363749
1       37511  paper:19668377  paper:17293876
2        6735   paper:1313726   paper:3002783
3       33493  paper:19110882  paper:14578298
4       27380  paper:18606979  paper:10333910